{{- $appName := "kafka-producers" -}}
{{- $appConfig := index $.Values $appName }}
{{- if $appConfig.enabled }}
apiVersion: apps/v1
{{- include "coelho-realtime.DeploymentSettings" (dict "appName" $appName "root" .) | nindent 0 }}
spec:
  replicas: {{ $appConfig.replicas }}
{{- include "coelho-realtime.DeploymentSpecSettings" (dict "appName" $appName "root" .) | nindent 2 }}
{{- include "coelho-realtime.DeploymentResources" (dict "appName" $appName "root" .) | nindent 10 }}
{{- end }}
