apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coelho-realtime
  namespace: argocd  # Where ArgoCD is installed
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    # ArgoCD Image Updater Configuration
    # Automatically updates image tags when new images are pushed to k3d registry
    # NOTE: fastapi service has been terminated and merged into river/sklearn services
    argocd-image-updater.argoproj.io/image-list: kafka=master-registry:5000/coelho-realtime-kafka,reflex=master-registry:5000/coelho-realtime-reflex,river=master-registry:5000/coelho-realtime-river,sklearn=master-registry:5000/coelho-realtime-sklearn
    # Write changes back to Git
    argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/git-creds
    argocd-image-updater.argoproj.io/git-branch: master
    # Update strategy: use latest tag
    argocd-image-updater.argoproj.io/kafka.update-strategy: latest
    argocd-image-updater.argoproj.io/reflex.update-strategy: latest
    argocd-image-updater.argoproj.io/river.update-strategy: latest
    argocd-image-updater.argoproj.io/sklearn.update-strategy: latest
    # Helm parameter paths for each image
    argocd-image-updater.argoproj.io/kafka.helm.image-name: kafka.image
    argocd-image-updater.argoproj.io/reflex.helm.image-name: reflex.image
    argocd-image-updater.argoproj.io/river.helm.image-name: river.image
    argocd-image-updater.argoproj.io/sklearn.helm.image-name: sklearn.image
spec:
  project: default
  source:
    # repoURL: http://localhost:8090/public-projects/COELHORealTime.git
    repoURL: http://gitlab-webservice-default.gitlab.svc.cluster.local:8181/public-projects/COELHORealTime.git
    targetRevision: master  # Your current branch (from git status)
    path: k3d/helm
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: environment
          value: production
  destination:
    # This deploys to the ArgoCD cluster itself
    # To deploy to a different cluster (like k3d-coelho), you need to register that cluster first
    server: https://kubernetes.default.svc
    namespace: coelho-realtime
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true