{{- $appName := "sklearn" -}}
{{- $appConfig := index $.Values $appName }}

apiVersion: apps/v1
{{- include "coelho-realtime.DeploymentSettings" (dict "appName" $appName "root" .) | nindent 0 }}
spec:
  replicas: {{ $appConfig.replicas }}
{{- include "coelho-realtime.DeploymentSpecSettings" (dict "appName" $appName "root" .) | nindent 2 }}
{{- include "coelho-realtime.DeploymentResources" (dict "appName" $appName "root" .) | nindent 10}}
{{- toYaml (index .Values $appName "livenessProbeSettings") | nindent 10 }}
{{- if index .Values $appName "readinessProbeSettings" }}
{{- toYaml (index .Values $appName "readinessProbeSettings") | nindent 10 }}
{{- end }}
