apiVersion: v1
kind: ConfigMap
metadata:
  name: coelho-realtime-kafka-configmap
  namespace: coelho
data:
  ALLOW_PLAINTEXT_LISTENER: "yes"
  KAFKA_CFG_ADVERTISED_LISTENERS: "CLIENT_INTERNAL://kafka:29092,CLIENT_EXTERNAL://localhost:9092"
  KAFKA_CFG_NODE_ID: "1"
  KAFKA_CFG_PROCESS_ROLES: "controller,broker"
  KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
  KAFKA_CFG_LISTENERS: "CLIENT_INTERNAL://:29092,CLIENT_EXTERNAL://:9092,CONTROLLER://:9093"
  KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "CLIENT_INTERNAL:PLAINTEXT,CLIENT_EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
  KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "CLIENT_INTERNAL"
  # Don't forget to remove the CLIENT_EXTERNAL listener in production
  # Correct PLAINTEXT settings when in production (security vulnerability)
  FASTAPI_HOST: "coelho-realtime-fastapi-service"
  KAFKA_HOST: "coelho-realtime-kafka-service"
  MLFLOW_HOST: "coelho-realtime-mlflow-service"
  STREAMLIT_HOST: "coelho-realtime-streamlit-service"
