{{- if and (index .Values "kafka" "enabled") (index .Values "kube-prometheus-stack" "enabled") (index .Values "kafka" "metrics" "jmx" "enabled") }}
# Kafka JMX ServiceMonitor - only created when JMX exporter is enabled
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}-kafka-jmx
  namespace: {{ .Release.Namespace }}
  labels:
    app: coelho-realtime-kafka
    release: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kafka
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: metrics
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
    - port: http-metrics
      interval: 30s
      path: /metrics
      scheme: http
{{- end }}
