apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coelho-realtime
  namespace: argocd  # Where ArgoCD is installed
  annotations:
    # ArgoCD Image Updater Configuration
    # Automatically updates image tags when new images are pushed to k3d registry
    argocd-image-updater.argoproj.io/image-list: fastapi=master-registry:5000/coelho-realtime-fastapi,kafka=master-registry:5000/coelho-realtime-kafka,mlflow=master-registry:5000/coelho-realtime-mlflow,streamlit=master-registry:5000/coelho-realtime-streamlit
    # Write changes back to Git
    argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/git-creds
    argocd-image-updater.argoproj.io/git-branch: master
    # Update strategy: use latest tag
    argocd-image-updater.argoproj.io/fastapi.update-strategy: latest
    argocd-image-updater.argoproj.io/kafka.update-strategy: latest
    argocd-image-updater.argoproj.io/mlflow.update-strategy: latest
    argocd-image-updater.argoproj.io/streamlit.update-strategy: latest
    # Helm parameter paths for each image
    argocd-image-updater.argoproj.io/fastapi.helm.image-name: fastapi.image
    argocd-image-updater.argoproj.io/kafka.helm.image-name: kafka.image
    argocd-image-updater.argoproj.io/mlflow.helm.image-name: mlflow.image
    argocd-image-updater.argoproj.io/streamlit.helm.image-name: streamlit.image
spec:
  project: default
  source:
    # repoURL: http://localhost:8090/public-projects/COELHORealTime.git
    repoURL: http://gitlab-webservice-default.gitlab.svc.cluster.local:8181/public-projects/COELHORealTime.git
    targetRevision: master  # Your current branch (from git status)
    path: helm_k3d
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: environment
          value: production
  destination:
    # This deploys to the ArgoCD cluster itself
    # To deploy to a different cluster (like k3d-coelho), you need to register that cluster first
    server: https://kubernetes.default.svc
    namespace: coelho-realtime
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true