apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: coelho-realtime-fastapi-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard