# MLflow PVC for SQLite metadata storage
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: coelho-realtime-mlflow-pvc
  namespace: {{ .Release.Namespace }}
  labels:
    app: mlflow
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
