apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-data-pvc
  labels:
    app: mlflow
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
